* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}


html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Swiper-Seite */

.swiper-container {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.swiper-slide.page {
    direction: ltr;
}

.swiper-button-next,
.swiper-button-prev {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 9999;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
}

/* Wechselnde Attribute auf Swiper-Seiten */


#noon_goodweather {
    background-color: #FDF6E6;
}

#morning_goodweather {
    background-color: #D2C9DA;
}

#evening_goodweather {
    background-color: #DFD9E4;
}

#noon_badweather {
    background-color: #93B7D9;
}

#morning_badweather {
    background-color: #014886;
}

#evening_badweather {
    background-color: #014886;
}

.weatherdata_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    min-width: 300px;
}

.weather_data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.big_header {
    font-size: 2.4rem;
    font-weight: 800;
    margin: 0;
}

.sun {
    width: 250px;
    height: auto;
    position: absolute;
}

.top_left {
    top: 0;
    left: 30%;
    transform: translate(-30%, -30%);
}

.center {
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.bottom_right {
    bottom: 0;
    right: 30%;
    transform: translate(30%, 30%);
}

.calendar_button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar_icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon_calendar.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.calendar_icon:hover {
    background-image: url(../img/icon_calendar_hover.svg);
}

.weather_value {
    font-size: 1.6rem;
    font-weight: 400;
    float: left;
    text-align: left;
}

.weather_label {
    font-size: 1.6rem;
    font-weight: 400;
    float: right;
    text-align: right;
}

.central_content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

.weather_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.time {
    margin-top: 240px;
    font-size: 1.3rem;
    font-weight: 400;
    z-index: 5; 
}

.day {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
    z-index: 2;
}

.weather_info {
    white-space: nowrap;
    font-size: 2.4rem;
    font-weight: 800;
}

.temperature {
    font-size: 6.5rem;
    font-weight: 800;
}

.date {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 1.3rem;
    font-weight: 600;
}

.date_label {
    font-size: 1.3rem;
    font-weight: 400;
}

/* Frontseite, Diagramm- und Datenauswahlseiten */

.frontpage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #AEC8B3;
    font-weight: 400;
}

.graphicpage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AEC8B3;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-weight: 400;
}

.image_plant {
    width: 30%;
    margin: 50px 50px;
}

.button {
    border-radius: 30px;
    border: 5px solid #FFCC59;
    background: #CEDDA6;
    width: 150px;
    height: 53px;
    flex-shrink: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a04900;
    color: #FFCC59;
}

.button_input {
    border-radius: 30px;
    border: 5px solid #FFCC59;
    background: #CEDDA6;
    width: 260px;
    height: 53px;
    flex-shrink: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 15px;
}

#date_overlay_page input[type="date"],
#date_selector_page input[type="date"] {
    padding: 0 20px;
    text-align: flex-start;
}

.date_input_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 20px;
}

.fliesstext {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 30px 0 0 0;
}

.chart_wrapper {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.chart_box {
    position: relative;
    width: 90vw;
    height: 60vh;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#date_selector_page #next_diagram_Button {
    width: 250px;
}

#date_overlay_page #nextButton {
    width: 300px;
}

#chart_date_display,
.button_input {
    width: 350px;
    height: auto;
}

/* Overlay Leiste Swiper */

.temperature_unit {
    font-weight: 700;
}

.overlay {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    z-index: 1;
}

.graphic_icon {
    width: 60px;
    height: 60px;
    background-image: url(../img/icon_diagram.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.graphic_icon:hover {
    background-image: url(../img/icon_diagram_hover.svg);
}

#graphic_button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 700;
}

#dropdown_button {
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown_container:hover .dropdown_content {
    display: block;
}

.dropdown_content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 140px;
    text-align: center;
}

.dropdown_content li {
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown_content li:hover {
    background-color: #f0f0f0;
}

/* Schliessen Button (X) */

.close_button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
}

.close_button::before,
.close_button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
}


.close_button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close_button:hover {
    opacity: 0.4;
}

/* JS Hilfe */

#diagram_page {
    display: none;
}

#date_selector_page {
    display: none;
}

#date_overlay_page {
    display: none;
}


/* --- TABLET RESPONSIVENESS --- */
@media (max-width: 1050px) {

    .central_content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .weatherdata_container {
        width: 80%;
        gap: 20px;
        margin-top: 20px;
    }

    .weather_label,
    .big_header {
        font-size: 32px;
    }

    .weather_container {
        margin-top: 170px;
    }

    .weather_value,
    .weather_label {
        font-size: 25px;
    }

    .image_plant {
        width: 40%;
        margin-top: 80px;
    }
     .sun.center {
        width: 32%;
        left: 50%;
        min-width: 300px;
    }

    .date_label {
        font-size: 18px;
    }

}

/* --- MOBILE RESPONSIVENESS (iPhone Größe: 14 Pro Max) --- */
@media (max-width: 450px) {

    .big_header {
        font-size: 24px;
        text-align: center;
    }

    .weather_info {
        font-size: 24px;
    }

    .fliesstext,
    .weather_label,
    .weather_value,
    .date_label {
        font-size: 16px;
    }

    .central_content {
        flex-direction: column;
        align-items: center;
    }

    .weather_container {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
        z-index: 2;
    }

    .temperature {
        font-size: 140px;
        line-height: 1;
        font-weight: 800;
        margin: 10px 0;
    }

    .weatherdata_container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        position: absolute;
        bottom: 20%;
    }

    .overlay {
        padding: 0 30px;
        top: 40px;
    }

    .sun {
        position: absolute;
        z-index: 0;
    }

    .sun.bottom_right {
        width: 80%;
        bottom: -10%;
    }

    .sun.center {
        width: 65%;
        left: 50%;
    }

    .sun.top_left {
        width: 80%;
        top: -10%;
    }

    .calendar_icon,
    .graphic_icon {
        width: 50px;
        height: 50px;
    }

    .date_input_group,
    .date_range_wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .image_plant {
        width: 80%;
        margin-top: 80px;
    }

    .chart_wrapper {
        width: 95%;
        padding: 10px;
    }

    .chart_box {
        height: 450px;
        margin: 60px 0 0 0;
    }

    #date_selector_page .button {
        margin: 50px 0 0 0;
    }
}